/2025_solutions/rust/target/
/2024_solutions/rust/.idea/
/2024_solutions/rust/target/
/2025_solutions/rust/.idea/
/2023_solutions/csharp/AdventOfCode2023Tests/obj/
/2023_solutions/csharp/AdventOfCode2023Tests/bin/
/2023_solutions/csharp/AdventOfCode2023/obj/
.idea/
/2022_solutions/csharp/AdventOfCode2022/.idea/
/2022_solutions/csharp/AdventOfCode2022/AdventOfCode2022/bin/
/2022_solutions/csharp/AdventOfCode2022/AdventOfCode2022/obj/
/2022_solutions/csharp/AdventOfCode2022/AdventOfCode2022Tests/bin/
/2022_solutions/csharp/AdventOfCode2022/AdventOfCode2022Tests/obj/
/2022_solutions/typescript/node_modules/
/2023_solutions/csharp/AdventOfCode2023/bin/
